# Database connection (Aiven MySQL)
DB_HOST=growmystock-db-growmystock-5ff9.c.aivencloud.com
DB_PORT=21439
DB_USER=avnadmin
DB_PASSWORD=your_password_here
DB_DATABASE=growmystock

# Server config
PORT=3001
CORS_ORIGIN=https://digitalkdogg.github.io
